
.header {
    background-color: #000000;
    height: 180px;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.margin-auto {
    display:inline-block;
    margin: 0 auto;
}

.spacer {
    height: 10px;
}

.pub-title {
    font-weight: bold;
}

.pub-title {
    font-weight: bold;
}

.vertical-line {
    width: 100%;
    border: 1px dashed #000;
}
